h1 {
    font-family: 'Dosis', sans-serif;
}

h2 {
    font-family: 'Dosis', sans-serif;
}

h4 {
    font-family: 'Dosis', sans-serif;
}

p {
    font-family: 'Dosis', sans-serif;
}

#pic {
    width: 30%;
}

button {
    font-family: 'Dosis', sans-serif;
}